<!doctype html>
<html lang="en" ng-app="panoramaManager">
<head>
    <meta charset="utf-8">
    <title>Pano-manager</title>

    <link rel="stylesheet" href="../bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="../styles/style-admin.css"/>

    <!-- libs -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/threejs/build/three.min.js"></script>

    <!-- engine -->
    <script src="./app.js"></script>
    <script src="./pano-engine.js"></script>
</head>
<body ng-controller="PanoramasCtrl">

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Panoramas Manager</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="#">Exit</a></li>
        </ul>

        <ul class="left">
            <li><a href="#" ng-click="new()" class="button tiny success">New</a></li>
        </ul>
    </section>
</nav>

<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th width="200">Image</th>
                <th>Name</th>
                <th width="500">Description</th>
                <th>Points</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pano in panoramas">
                <td>{{pano.id}}</td>
                <td>
                    <a class="th" ng-href="/api/textures/{{pano.file}}">
                        <img ng-src="/api/textures/{{pano.file}}">
                    </a>
                </td>
                <td>{{pano.name}}</td>
                <td>{{pano.description}}</td>
                <td>{{pano.points.length || 0}}</td>
                <td>
                    <ul class="button-group round">
                        <li><a href="#" class="tiny button success" ng-click="edit(pano)">Edit</a></li>
                        <li><a href="#" class="tiny button alert" ng-click="remove(pano)">Remove</a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="editModal" class="reveal-modal" data-reveal>
    <h2>Panorama edit</h2>

    <form name="panoForm">
        <div class="row">
            <div class="large-12 columns">

                <div class="row">
                    <div class="large-8 columns">
                        <label>Name
                            <input ng-model="model.name" type="text" required>
                        </label>

                        <label>Description
                            <textarea ng-model="model.description"></textarea>
                        </label>
                    </div>
                    <div class="large-4 columns">
                        <div ng-if="!model.file && !uploader.queue[0]">
                            <label>File
                                <input type="file" required nv-file-select uploader="uploader">
                            </label>
                        </div>

                        <div ng-if="!model.file && uploader.queue[0]">
                            <div ng-thumb="{ file: uploader.queue[0]._file, width: 284 }"
                                 ng-click="uploader.queue[0].remove()"
                                 class="texture-preview" title="Click for removing"></div>
                        </div>

                        <div ng-if="model.file">
                            <img ng-src="/api/textures/{{model.file}}"
                                 ng-click="model.file = ''"
                                 class="texture-preview" title="Click for removing"/>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Points</label>
                <table>
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>x</th>
                        <th>y</th>
                        <th>z</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="point in model.points">
                        <td><input type="text" ng-model="point.id"/></td>
                        <td><input type="text" ng-model="point.x"/></td>
                        <td><input type="text" ng-model="point.y"/></td>
                        <td><input type="text" ng-model="point.z"/></td>
                        <td>
                            <button class="tiny alert" ng-click="removePoint(point)">Remove</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button class="tiny left" ng-click="show3D()">Show 3D</button>
                            <button class="tiny right" ng-click="addPoint()">Add</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div id="container"></div>
            </div>
        </div>
        <div class="row">
            <div class="large-2 large-offset-10 columns">
                <input class="button tiny success right" type="submit" ng-click="save()"/>
            </div>
        </div>
    </form>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>

</body>
</html>